body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #eef;
  padding: 20px;
  text-align: center;
}

header {

    background-color: #ff0000 ;
     color: #fff;
    display: flex ; 
    justify-content: center;
    width: 100%;
}

.koptekst-achtergrond::before { background-size: cover;
                    background-image: url('../afbeeldingen/Schoonmaakster.JPG');
                    display: flex;
                    font-size: 18px;
                    padding:1% ;
} @media only screen and (min-width: 780px) {
    .koptekst-achtergrond {  font-size: 24px;
    }
}

nav {
  background-color: #000;
  padding: 10px;
  text-align: center;
}

nav button {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

table {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  border-collapse: collapse;
}

td {
  padding: 10px;
}

.tabelkop th {
  text-align: left;
  font-weight: bold;
  color: #003366; /* Donkerblauw */
  font-size: 18px;
  background-color: #e6f0ff;
  padding: 8px;
}

#todo-knipper {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: red;
  animation: knipperen 1s infinite;
}

@keyframes knipperen {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.verborgen {
  display: none;
}

#bedankt {
  text-align: center;
  color: darkred;
  font-family: 'Cursive';
  font-size: 28px;
  margin-top: 20px;
}

